
@media (max-width:884px) {
  nav .logo{
      position: absolute;
      top: 16px;
      left: 15px;
      font-size: 1.5rem;
  }

  .nav-container .links{
      display: none;
  }

  .hamburg,
  .cancel{
      display: block;
  }
}